<h1>All Notes</h1>

<% @notes.each do |note| %>
  <%= link_to note do %>
    <h2 class="index_title"><%= note.title %></h2>
    <% if note.user.present? %>
        <p>Written by: <%= note.user.name%></p>
    <% end %>
    <p class="index_msg"><%= note.message %></p>

    <p class="comment_count"><%= pluralize(note.discussions.size, 'comment') %></p>

    <%= image_tag(note.image, :class => "index_img") %>
  <% end %>

  <% if @current_user == note.user%>
    <%= link_to "Edit", edit_note_path(note.id) %>
  <% end %>
<% end %>
