
<div class = 'container-lg title1'>
  <h1><%= @note.title %></h1>
  
  <div class="container-lg">
    <%= @note.created_at %>
    <% if @note.user.present? %>
      <p>Written by: <%= @note.user.name%></p>
    <% end %>
  </div>
  <div class="container-lg paragraph">
    <%= @note.message %>
  </div>
  
  <div class="container-lg">
    <%= image_tag @note.image, :class => 'img-fluid' %>
  </div>
  

  <div class="container-lg">
    <% if @current_user == @note.user%>
      <%= link_to "Edit", edit_note_path(@note) %>
      <%= link_to "Delete", @note, :method => :delete, :data => { :confirm => "Are you sure you want to delete '#{@note.title}'?"}%>

    <% end %>
  </div>
  

  <%= render template: 'discussions/show' %>

  <%= render template: 'discussions/new' %>

</div>
