<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class = "navbar1">
      <h2 class = 'nav-title'>Project1</h2>
      <% if @current_user.present?%>
        <%= link_to "Home", root_path , :class => "navbar-link"%>
        <%= link_to "Add Note", new_note_path, :class => "navbar-link" %>
        <%= link_to "Log Out (#{@current_user.name})", login_path, :method => :delete, :class => 'navbar-link' %>
      <% else %>
        <%= link_to "Home", root_path %>
        <%= link_to "sign in", login_path%>
        <%= link_to "sign up", new_user_path %>   
      <% end %>
      
    </nav>
    <div class="container-lg">
      <%= yield %>
    </div>
    
  </body>
</html>
